body {
  font-family: Verdana, Georgia, "Times New Roman", Times, serif;
  color: #0a3126;
}

* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-out;
  z-index: 2;
}
@media only screen and (min-width: 1260px) {
  header {
    margin: 2.5rem 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .sticky {
    background-color: rgba(47, 163, 141, 0.7);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0px;
    padding: 10px;
    transition: all 0.4s ease-out;
  }
}

.sticky .header-btn {
  background-color: white;
  color: #2fa38d;
}

.sticky .header-btn:hover {
  background-color: #cccccc;
  color: #2fa38d;
}

.sticky #logo {
  background-image: url("../../../public/images/favicon.png");
  background-color: transparent;
  color: #2fa38d;
}

.sticky .li-header:hover {
  text-decoration: underline;
  color: white;
}

#logo {
  background-image: url("../../../public/images/favicon.png");
  background-size: 120px 50px;
  width: 120px;
  height: 50px;
}
@media only screen and (min-width: 1740px) {
  #logo {
    margin-left: 100px;
  }
}

#ul-header {
  display: none;
}
@media only screen and (min-width: 992px) {
  #ul-header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-size: 12px;
    padding-top: 8px;
  }
}
@media only screen and (min-width: 1260px) {
  #ul-header {
    font-size: initial;
  }
}

.blocker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#header-small {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  background-color: rgba(47, 163, 141, 0.8);
  position: absolute;
  top: 73px;
  right: 0;
  border-radius: 4px;
  display: none;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  #header-small {
    display: none;
  }
}

#header-small ul {
  list-style-type: none;
  text-align: end;
  padding-right: 10px;
}

.li-header-small {
  line-height: 45px;
}

.btn-menu-xs {
  background-color: #2fa38d;
  height: 55px;
  width: 65px;
  border-radius: 4px;
  z-index: 2;
}
@media only screen and (min-width: 992px) {
  .btn-menu-xs {
    display: none;
  }
}

.btn-menu-xs:hover {
  background-color: #2fa38d;
  cursor: pointer;
}

.menu-lines {
  padding: 10px 0 4px 16px;
}

.menu-x {
  display: none;
  color: white;
  font-size: 40px;
  margin-top: 0px;
  margin-left: 21px;
}

.menu-line {
  width: 33px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.menu-title {
  font-size: 12px;
  text-align: center;
  margin-top: -7px;
  color: white;
  font-weight: 600;
}

.li-header {
  margin: 10px;
  font-weight: 600;
  transition: all 0.2s ease-in;
}

.li-header:hover {
  color: #2fa38d;
}

.header-btn {
  display: none;
  background-color: #2fa38d;
  color: white;
  border-radius: 8px;
  height: 20px;
  padding: 15px;
  font-weight: 600;
  font-size: 13px;
}
@media only screen and (min-width: 576px) {
  .header-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1260px) {
  .header-btn {
    width: initial;
  }
}

.header-btn:hover {
  background-color: #247b6b;
}

footer {
  background-color: #2fa38d;
  color: white;
}

#footer-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  #footer-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 768px) and (-ms-high-contrast: none) {
  #footer-container {
    justify-content: space-around;
  }
}

#footer-container div {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer h4 {
  text-transform: uppercase;
  margin-left: 20px;
}

footer li {
  list-style-type: none;
  margin-left: -20px;
  font-weight: 100;
  line-height: 20px !important;
}

#footer-3 li:hover,
.li-footer-hover:hover {
  text-decoration: underline;
}

#copyright {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #copyright {
    text-align: center;
  }
}

.arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

input, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
}

form {
  display: block;
  position: relative;
  max-width: 500px;
  margin: 20px;
  border: 5px #2fa38d solid;
}
@media only screen and (min-width: 576px) {
  form {
    margin: 20px auto;
  }
}

form .form-inner {
  padding: 20px 0 20px 20px;
  z-index: 1;
}
@media only screen and (min-width: 576px) {
  form .form-inner {
    position: relative;
    display: block;
    background-color: #FFF;
    padding: 30px;
  }
}

form .form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

form .form-inner .form-group {
  display: block;
  margin-bottom: 15px;
}
@media only screen and (min-width: 576px) {
  form .form-inner .form-group {
    width: 300px;
  }
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #FE4880;
}

form .form-inner .form-group input {
  display: block;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
  width: 60%;
}
@media only screen and (min-width: 576px) {
  form .form-inner .form-group input {
    width: 100%;
  }
}

form .form-inner .form-group input:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type=submit],
.welcome button,
.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #2fa38d;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  font-size: 13px;
}

form .form-inner input[type=submit]:hover,
.welcome button:hover,
.btn:hover {
  background-color: #247b6b;
}

.welcome {
  background-color: #FFF;
}
@media only screen and (min-width: 576px) {
  .welcome {
    padding: 15px 30px;
  }
}

.welcome h2 {
  color: #888;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media only screen and (min-width: 576px) {
  .welcome h2 {
    font-size: 28px;
  }
}

.welcome h2 span {
  color: #FE4880;
  font-weight: 700;
}

.error {
  color: red;
}

.green-text {
  color: #2fa38d;
  font-weight: 600;
}

.gray-text {
  color: gray;
  font-size: 12px;
}

.fa-eye {
  position: absolute;
  bottom: 41%;
  left: 60%;
  cursor: pointer;
}
@media only screen and (min-width: 576px) {
  .fa-eye {
    bottom: 163px;
    left: 330px;
  }
}

.fa-eye-signup {
  bottom: 30%;
}
@media only screen and (min-width: 576px) {
  .fa-eye-signup {
    bottom: 144px;
  }
}

.form-group span {
  display: none;
  font-size: 13px;
}
.form-group input {
  display: block;
  margin-bottom: 8px;
}
.form-group input:focus + span {
  background: #f4f4f4;
  border-radius: 4px;
  display: inline-block;
  padding: 4px 8px;
  position: absolute;
  max-width: 60%;
}
@media only screen and (min-width: 576px) {
  .form-group input:focus + span {
    max-width: 315px;
  }
}
.form-group input:focus + span:before {
  border-top: 6px solid transparent;
  border-bottom: 6px solid #f4f4f4;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
}/*# sourceMappingURL=style.css.map */